<?xml version = "1.0" encoding = "utf-8"?>

<manifest 
    xmlns:android = "http://schemas.android.com/apk/res/android"
    package = "com.app.spectraflix" 
>
    
    <uses-permission 
    	android:name = "android.permission.INTERNET" 
    />
    
    <uses-permission 
    	android:name = "android.permission.READ_EXTERNAL_STORAGE"
    />


    <application
    	android:name = ".DataManager"
        android:allowBackup = "true"
        android:icon = "@drawable/ic_launcher"
        android:label = "@string/app_name"
        android:theme = "@style/AppTheme"
		android:resizeableActivity = "true"
	>
		
        <activity
            android:name = ".MainActivity"
            android:label = "@string/app_name" 
        >
            
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        
        </activity>
		
		<activity android:name = ".PreviewActivity" />
		<activity android:name = ".MovieWebView" />
		<activity android:name = ".MovieURLView" />
		<activity android:name = ".MovieLocalView" />
		<activity android:name = ".SelectSeat" />
		<activity android:name = ".Ticket" />
		<activity android:name = ".addMovie" />
		<activity android:name = ".removeMovie" />
		<activity android:name = ".addBookableMovie" />
		<activity android:name = ".removeBookableMovie" />
		<activity android:name = ".MovieTrailerView" />
		<activity android:name = ".activity2" />
		<activity android:name = ".EnterDetails" />
		<activity android:name = ".activity3" />
		
    </application>
</manifest>